{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "indent": ["error", 4],
    "vue/html-indent": ["error", 4],
    "no-console": "off",
    "semi": "off",
    "semi-style": ["error", "last"]
  }
}