@font-face {
    font-family: 'DMSans';
    src: local('DMSans'), url("/assets/fonts/DMSans.ttf") format('truetype');
}

@font-face {
    font-family: 'Audiowide';
    src: local('Audiowide'), url("/assets/fonts/Audiowide.ttf") format('truetype');
}