.home {
    &__header {
        height: 500px;
        display: flex;
        align-items: center;
    }

    &__list {
        padding: 24px;
        flex-wrap: wrap;
        display: flex;
        gap: 16px;
    }
}