@import "fonts";

// bg colors
$main-bg-color: linear-gradient(to bottom, #121c31, #120815);
$secondary-bg-color: #6e2e96;
$gradient-bg-color: linear-gradient(to bottom, rgba(26, 47, 58, 0.5), rgba(31, 1, 51, 0.5));

// font colors
$main-color: #ececec;
$secondary-color: #3c6e8f;
$white-color: #ffffff;
$grey-medium-color: #3E3F40;
$grey-dark-color: #222324;
$blue-dark-color: #0B1D26;
$violet-color: #a54ade;
$red-color: #D90B12;

// fonts
$main-ff: -apple-system, DMSans, sans-serif;
$secondary-ff: -apple-system, Audiowide, sans-serif;

// border-radius
$br4: 4px;
$br8: 8px;
$br12: 12px;
$br24: 24px;

// borders
$main-border: 1px solid #5b5b5b;
$violet-border: 2px solid #6e2e96;