@import "fonts";

// bg colors
$main-bg-color: #1e1e1f;

// font colors
$main-color: #ececec;
$secondary-color: #209CEE;
$white-color: #ffffff;
$grey-medium-color: #3E3F40;
$grey-dark-color: #222324;
$black-font-color: #050505;
$red-font-color: #D90B12;

// fonts
$main-ff: -apple-system, DMSans, sans-serif;
$secondary-ff: -apple-system, Audiowide, sans-serif;