@import "fonts";

// bg colors
$main-bg-color: #0B1D26;
$secondary-bg-color: #209CEE;
$gradient-bg-color: linear-gradient(180deg, rgba(5, 5, 5, 0.55) 0%,rgba(30, 30, 30, 0) 100%);;

// font colors
$main-color: #ececec;
$secondary-color: #3c6e8f;
$white-color: #ffffff;
$grey-medium-color: #3E3F40;
$grey-dark-color: #222324;
$blue-dark-color: #0B1D26;
$red-color: #D90B12;

// fonts
$main-ff: -apple-system, DMSans, sans-serif;
$secondary-ff: -apple-system, Audiowide, sans-serif;

// borders
$br4: 4px;
$br8: 8px;
$br12: 12px;